In [1]:
import pandas as pd

In [2]:
file_path = "dataset (2).csv"
df = pd.read_csv(file_path)

In [3]:
df

,Year,Month,Sector,Hydroelectric Power,Geothermal Energy,Solar Energy,Wind Energy,Wood Energy,Waste Energy,"Fuel Ethanol, Excluding Denaturant",Biomass Losses and Co-products,Biomass Energy,Total Renewable Energy,Renewable Diesel Fuel,Other Biofuels,Conventional Hydroelectric Power,Biodiesel
0,1973,1,Commerical,0.000,0.000,0.000,0.000,0.570,0.000,0.000,0.000,0.570,0.570,0.00,0.000,0.000,0.000
1,1973,1,Electric Power,0.000,0.490,0.000,0.000,0.054,0.157,0.000,0.000,0.211,89.223,0.00,0.000,88.522,0.000
2,1973,1,Industrial,1.040,0.000,0.000,0.000,98.933,0.000,0.000,0.000,98.933,99.973,0.00,0.000,0.000,0.000
3,1973,1,Residential,0.000,0.000,0.000,0.000,30.074,0.000,0.000,0.000,0.000,30.074,0.00,0.000,0.000,0.000
4,1973,1,Transportation,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3060,2024,1,Commerical,0.073,1.669,4.267,0.036,7.053,6.233,2.441,0.000,15.728,21.773,0.00,0.000,0.000,0.000
3061,2024,1,Electric Power,0.000,4.667,32.707,119.265,15.071,13.873,0.000,0.000,28.944,257.661,0.00,0.000,72.078,0.000
3062,2024,1,Industrial,0.308,0.356,0.987,0.035,104.878,14.171,1.533,67.742,188.325,190.011,0.00,0.000,0.000,0.000
3063,2024,1,Residential,0.000,3.354,14.897,0.000,34.065,0.000,0.000,0.000,0.000,52.316,0.00,0.000,0.000,0.000
3064,2024,1,Transportation,0.000,0.000,0.000,0.000,0.000,0.000,86.098,0.000,140.188,0.000,30.78,3.442,0.000,19.867

In [4]:
data = df.drop(['Biomass Energy'], axis=1)
data

,Year,Month,Sector,Hydroelectric Power,Geothermal Energy,Solar Energy,Wind Energy,Wood Energy,Waste Energy,"Fuel Ethanol, Excluding Denaturant",Biomass Losses and Co-products,Total Renewable Energy,Renewable Diesel Fuel,Other Biofuels,Conventional Hydroelectric Power,Biodiesel
0,1973,1,Commerical,0.000,0.000,0.000,0.000,0.570,0.000,0.000,0.000,0.570,0.00,0.000,0.000,0.000
1,1973,1,Electric Power,0.000,0.490,0.000,0.000,0.054,0.157,0.000,0.000,89.223,0.00,0.000,88.522,0.000
2,1973,1,Industrial,1.040,0.000,0.000,0.000,98.933,0.000,0.000,0.000,99.973,0.00,0.000,0.000,0.000
3,1973,1,Residential,0.000,0.000,0.000,0.000,30.074,0.000,0.000,0.000,30.074,0.00,0.000,0.000,0.000
4,1973,1,Transportation,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3060,2024,1,Commerical,0.073,1.669,4.267,0.036,7.053,6.233,2.441,0.000,21.773,0.00,0.000,0.000,0.000
3061,2024,1,Electric Power,0.000,4.667,32.707,119.265,15.071,13.873,0.000,0.000,257.661,0.00,0.000,72.078,0.000
3062,2024,1,Industrial,0.308,0.356,0.987,0.035,104.878,14.171,1.533,67.742,190.011,0.00,0.000,0.000,0.000
3063,2024,1,Residential,0.000,3.354,14.897,0.000,34.065,0.000,0.000,0.000,52.316,0.00,0.000,0.000,0.000
3064,2024,1,Transportation,0.000,0.000,0.000,0.000,0.000,0.000,86.098,0.000,0.000,30.78,3.442,0.000,19.867

In [5]:
def get_quarter(month):
    if 1 <= month <= 3:
        return 1
    elif 4 <= month <= 6:
        return 2
    elif 7 <= month <= 9:
        return 3
    elif 10 <= month <= 12:
        return 4

data["Quarter"] = data["Month"].apply(get_quarter)
data

,Year,Month,Sector,Hydroelectric Power,Geothermal Energy,Solar Energy,Wind Energy,Wood Energy,Waste Energy,"Fuel Ethanol, Excluding Denaturant",Biomass Losses and Co-products,Total Renewable Energy,Renewable Diesel Fuel,Other Biofuels,Conventional Hydroelectric Power,Biodiesel,Quarter
0,1973,1,Commerical,0.000,0.000,0.000,0.000,0.570,0.000,0.000,0.000,0.570,0.00,0.000,0.000,0.000,1
1,1973,1,Electric Power,0.000,0.490,0.000,0.000,0.054,0.157,0.000,0.000,89.223,0.00,0.000,88.522,0.000,1
2,1973,1,Industrial,1.040,0.000,0.000,0.000,98.933,0.000,0.000,0.000,99.973,0.00,0.000,0.000,0.000,1
3,1973,1,Residential,0.000,0.000,0.000,0.000,30.074,0.000,0.000,0.000,30.074,0.00,0.000,0.000,0.000,1
4,1973,1,Transportation,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.000,0.000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3060,2024,1,Commerical,0.073,1.669,4.267,0.036,7.053,6.233,2.441,0.000,21.773,0.00,0.000,0.000,0.000,1
3061,2024,1,Electric Power,0.000,4.667,32.707,119.265,15.071,13.873,0.000,0.000,257.661,0.00,0.000,72.078,0.000,1
3062,2024,1,Industrial,0.308,0.356,0.987,0.035,104.878,14.171,1.533,67.742,190.011,0.00,0.000,0.000,0.000,1
3063,2024,1,Residential,0.000,3.354,14.897,0.000,34.065,0.000,0.000,0.000,52.316,0.00,0.000,0.000,0.000,1
3064,2024,1,Transportation,0.000,0.000,0.000,0.000,0.000,0.000,86.098,0.000,0.000,30.78,3.442,0.000,19.867,1

In [6]:
data = data.drop(['Month'], axis=1)
data

,Year,Sector,Hydroelectric Power,Geothermal Energy,Solar Energy,Wind Energy,Wood Energy,Waste Energy,"Fuel Ethanol, Excluding Denaturant",Biomass Losses and Co-products,Total Renewable Energy,Renewable Diesel Fuel,Other Biofuels,Conventional Hydroelectric Power,Biodiesel,Quarter
0,1973,Commerical,0.000,0.000,0.000,0.000,0.570,0.000,0.000,0.000,0.570,0.00,0.000,0.000,0.000,1
1,1973,Electric Power,0.000,0.490,0.000,0.000,0.054,0.157,0.000,0.000,89.223,0.00,0.000,88.522,0.000,1
2,1973,Industrial,1.040,0.000,0.000,0.000,98.933,0.000,0.000,0.000,99.973,0.00,0.000,0.000,0.000,1
3,1973,Residential,0.000,0.000,0.000,0.000,30.074,0.000,0.000,0.000,30.074,0.00,0.000,0.000,0.000,1
4,1973,Transportation,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.000,0.000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3060,2024,Commerical,0.073,1.669,4.267,0.036,7.053,6.233,2.441,0.000,21.773,0.00,0.000,0.000,0.000,1
3061,2024,Electric Power,0.000,4.667,32.707,119.265,15.071,13.873,0.000,0.000,257.661,0.00,0.000,72.078,0.000,1
3062,2024,Industrial,0.308,0.356,0.987,0.035,104.878,14.171,1.533,67.742,190.011,0.00,0.000,0.000,0.000,1
3063,2024,Residential,0.000,3.354,14.897,0.000,34.065,0.000,0.000,0.000,52.316,0.00,0.000,0.000,0.000,1
3064,2024,Transportation,0.000,0.000,0.000,0.000,0.000,0.000,86.098,0.000,0.000,30.78,3.442,0.000,19.867,1

In [7]:
# 1. Group by Quarter, Sector, and Year
grouped_data = data.groupby(["Quarter", "Sector", "Year"], as_index=False).sum()
data = grouped_data
data

,Quarter,Sector,Year,Hydroelectric Power,Geothermal Energy,Solar Energy,Wind Energy,Wood Energy,Waste Energy,"Fuel Ethanol, Excluding Denaturant",Biomass Losses and Co-products,Total Renewable Energy,Renewable Diesel Fuel,Other Biofuels,Conventional Hydroelectric Power,Biodiesel
0,1,Commerical,1973,0.0,0.0,0.0,0.0,1.655,0.0,0.000,0.0,1.655,0.000,0.000,0.0,0.000
1,1,Commerical,1974,0.0,0.0,0.0,0.0,1.730,0.0,0.000,0.0,1.730,0.000,0.000,0.0,0.000
2,1,Commerical,1975,0.0,0.0,0.0,0.0,1.989,0.0,0.000,0.0,1.989,0.000,0.000,0.0,0.000
3,1,Commerical,1976,0.0,0.0,0.0,0.0,2.263,0.0,0.000,0.0,2.263,0.000,0.000,0.0,0.000
4,1,Commerical,1977,0.0,0.0,0.0,0.0,2.537,0.0,0.000,0.0,2.537,0.000,0.000,0.0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,4,Transportation,2019,0.0,0.0,0.0,0.0,0.000,0.0,298.139,0.0,0.000,29.479,1.217,0.0,55.195
1021,4,Transportation,2020,0.0,0.0,0.0,0.0,0.000,0.0,258.898,0.0,0.000,29.394,0.849,0.0,62.549
1022,4,Transportation,2021,0.0,0.0,0.0,0.0,0.000,0.0,292.592,0.0,0.000,49.455,3.577,0.0,57.315
1023,4,Transportation,2022,0.0,0.0,0.0,0.0,0.000,0.0,284.223,0.0,0.000,61.911,8.227,0.0,56.223
1024,4,Transportation,2023,0.0,0.0,0.0,0.0,0.000,0.0,287.148,0.0,0.000,97.343,10.910,0.0,63.471

In [8]:
data["Sector"] = data["Sector"].replace("Commerical", "Commercial")
data

,Quarter,Sector,Year,Hydroelectric Power,Geothermal Energy,Solar Energy,Wind Energy,Wood Energy,Waste Energy,"Fuel Ethanol, Excluding Denaturant",Biomass Losses and Co-products,Total Renewable Energy,Renewable Diesel Fuel,Other Biofuels,Conventional Hydroelectric Power,Biodiesel
0,1,Commercial,1973,0.0,0.0,0.0,0.0,1.655,0.0,0.000,0.0,1.655,0.000,0.000,0.0,0.000
1,1,Commercial,1974,0.0,0.0,0.0,0.0,1.730,0.0,0.000,0.0,1.730,0.000,0.000,0.0,0.000
2,1,Commercial,1975,0.0,0.0,0.0,0.0,1.989,0.0,0.000,0.0,1.989,0.000,0.000,0.0,0.000
3,1,Commercial,1976,0.0,0.0,0.0,0.0,2.263,0.0,0.000,0.0,2.263,0.000,0.000,0.0,0.000
4,1,Commercial,1977,0.0,0.0,0.0,0.0,2.537,0.0,0.000,0.0,2.537,0.000,0.000,0.0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,4,Transportation,2019,0.0,0.0,0.0,0.0,0.000,0.0,298.139,0.0,0.000,29.479,1.217,0.0,55.195
1021,4,Transportation,2020,0.0,0.0,0.0,0.0,0.000,0.0,258.898,0.0,0.000,29.394,0.849,0.0,62.549
1022,4,Transportation,2021,0.0,0.0,0.0,0.0,0.000,0.0,292.592,0.0,0.000,49.455,3.577,0.0,57.315
1023,4,Transportation,2022,0.0,0.0,0.0,0.0,0.000,0.0,284.223,0.0,0.000,61.911,8.227,0.0,56.223
1024,4,Transportation,2023,0.0,0.0,0.0,0.0,0.000,0.0,287.148,0.0,0.000,97.343,10.910,0.0,63.471

In [9]:
data.to_csv('training_data.csv', index=False)